/**
 * All your custom CSS should go into this file
 */

body { padding-top: 71px; }

#system-messages {
  background-color: #fff;
}
#system-messages ul {
  padding: 0px;
}
#system-messages li {
  display: block;
  list-style: none;
  padding: 0.5em;
}
#system-messages .error {
  border: 1px solid #ff0000;
  background: rgba(255,0,0,0.3);
}
#system-messages .warning {
  border: 1px solid #ffff00;
  background: rgba(255,255,0,0.4);
}
#system-messages .notice {
  border: 1px solid #00ff00;
  background: rgba(0,255,0,0.2);
}

#splash_image{
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
}

#splash_message{
  text-align: center;
}

.search .glyphicon {
  top: 0px;
}

.footer {
  margin: 7em 0 1em 0;
  padding: 1em 0 1em 0;
  border-top: 1px solid #ccc;
  text-align: center;
}

.user-autocomplete.form-inline .search-username {
  width: 200px;
}
.user-autocomplete.form-inline .display-username {
  width: 320px;
}

.match-results-lol {
  width: 500px;
  text-align: center;
}

.match-results-lol .items-lol {
  width: 80px;
}

.match-results-lol {
}

.match-result-lol .left {
  text-align: left;
}

.match-result-lol .right {
  text-align: right;
}

.match-result-lol .blue-side {
  background-color: rgba(48, 32, 255, 0.9);
}
.match-result-lol .purple-side {
  background: rgba(158, 39, 255, 0.9);
}


.padded_10 {
  padding: 10px;
}
.padded_top {
  padding-top: 5px;
}
.region-list {

}